<html lang="en">

<%- include ('./partials/head.ejs') %>

<body>
 <%- include ('./partials/navbar.ejs')%>


    <div class="tasksContent">

        <h2>All Tasks</h2>
        <% if (tasks.length >0) { %>
            <% tasks.forEach(task => { %> 
        <div class="tasks">
            <div class="task">
                
                <h3><%= task.title %></h3> 
                <p><%= task.description %></p>
                <p><%= task.state%></p>
        <%    }); %>
                <% } %>
                <button>Delete</button>
                <button>Edit</button>
                <button>Complete</button>
                <button>Details</button>
            </div>
        
        </div>
    </div>    
    
</body>
<%- include('./partials/footer.ejs')  %>
</html>